* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(lightyellow, skyblue);
    height: 600px;
}

.main {
    justify-items: center;
}

h1 {
    font-size: 45px;
    margin-top: 7px;
}

.user {
    margin-bottom: 35px;
    font-size: 23px;
}

.main{
    justify-items: center;
    margin-top: 7px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
}

.box{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 98px;
    width: 98px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: aqua;
}

.btn {
    width: 82px;
    height: 30px;
    font-size: 16px;
    margin-top: 26px;
}

@media only screen and (max-width: 768px) {

    h1 {
            font-size: 45px;
            margin-top: 2rem;
        }

        
    .box {
        border: 1px solid black;
        height: 42px;
        width: 42px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        
        height: 180px;
        width: 188px;
    }
    
    .box {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        height: 58px;
        width: 58px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
}
